body {
    margin: 0;
}

nav {
    background-color: #222;
    padding: 20px 5px;
    text-align: center;
    color: #fff;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

nav h1 {
    margin: 0;
}

.quiz-images-container {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #eee;
    padding: 20px 0;
}

.quiz-images-container div {
    width: 400px;
    text-align: center;
    margin: 0 20px;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
}

.quiz-images-container img {
    width: 100%;
    border: 3px solid #222;
    border-radius: 3px;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.3);
}

.options {
    font-size: 20px;
    margin: 20px auto;
    width: 100px;
    border: 1px solid #eee;
    padding: 0 50px 15px 50px;
    list-style-position: inside;
    box-shadow: 0.5px 0.5px 5px rgba(0, 0, 0, 0.3);
}

.options p {
    font-weight: bold;
    border-bottom: 2px solid #eee;
    padding: 15px 0;
    margin: 0 0 15px 0;
    text-align: center;
}

.options li {
    padding: 5px 0;
}

button {
    font-size: 20px;
    background-color: teal;
    color: #fff;
    padding: 10px;
    width: 150px;
    outline: none;
    cursor: pointer;
    border-radius: 4px;
    border: 1px solid teal;
    margin: 20px 5px 5px 5px;
    display: none;
}

.info-container {
    background-color: #eee;
    border: 1px solid #000;
    box-shadow: 0.5px 0.5px 5px rgba(0, 0, 0, 0.4), -0.5px -0.5px 5px rgba(0, 0, 0, 0.4);
    font-size: 20px;
    font-family: 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 20px;
    margin: 20px;
}

.info-container p {
    margin: 5px
}

.info-container p:first-child {
    margin: 5px 5px 15px 5px;
    font-size: 16px;
}

p.resultInPercentage {
    font-size: 25px;
    margin-top: 20px;
    font-weight: bold;
    display: none;
}

p.tryAgainText {
    display: none;
    animation: blink 1.5s linear 0s infinite alternate;
    font-size: 22px;
    color: red;
    text-align: center;
}

@keyframes blink {
    from { opacity: 1; }
    to { opacity: 0; }
}

@media (max-width: 800px) {
    .quiz-container div {
        width: 100%;
    }
}